.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .mainTitle{
            font-size: xx-large;
            font-weight: 400;
            color: #f33;
        }
        .subTitle{
            font-size: small;
            color: gray;
        }
    }
}