.container1 {
    position: relative;
    .container2 {
        padding: 20px 40px;
        border: #f3f3f3 solid 1px;
        border-radius: 10px;
        .ApiInputContainer {
            display: flex;
            align-items: center;
            gap: 10px;
            .ApiInputTitle {
                white-space: nowrap;
            }
        }
        .uploadAndDownload {
            display: flex;
            align-items: center;
            gap: 20px;
            .upload {
                display: flex;
                flex-direction: column;
                align-items: center;
                .tips {
                    color: grey;
                    font-size: small;
                }
                .formTitle {
                    width: 100%;
                    font-size: 13px;
                    font-weight: 600;
                    color: #374151;
                }
                .additional {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    margin-top: 6px;
                    .title {
                        white-space: nowrap;
                        font-size: small;
                    }
                }
            }
            .rightArrow {
                font-size: 40px;
            }
        }
        .previewContainer {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
