.container {
    padding: 40px;
    border: grey solid 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    .upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tips {
            color: grey;
            font-size: small;
        }
        .additional {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-top: 6px;
            .title {
                white-space: nowrap;
                font-size: small;
            }
        }
    }
    .rightArrow {
        font-size: 40px;
    }
}
